@charset "UTF-8";

@font-face {
  font-family: "daicons-buttons";
  src:url("fonts/daicons-buttons.eot");
  src:url("fonts/daicons-buttons.eot?#iefix") format("embedded-opentype"),
    url("fonts/daicons-buttons.woff") format("woff"),
    url("fonts/daicons-buttons.ttf") format("truetype"),
    url("fonts/daicons-buttons.svg#daicons-buttons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "daicons-buttons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="daicon-"]:before,
[class*=" daicon-"]:before {
  font-family: "daicons-buttons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.daicon-cloud:before {
  content: "\61";
}
.daicon-open:before {
  content: "\62";
}
.daicon-lock:before {
  content: "\63";
}
.daicon-clip:before {
  content: "\64";
}
.daicon-link:before {
  content: "\66";
}
.daicon-download:before {
  content: "\67";
}
.daicon-upload:before {
  content: "\68";
}
.daicon-rar:before {
  content: "\69";
}
.daicon-paypal:before {
  content: "\6a";
}
.daicon-buy:before {
  content: "\6b";
}
.daicon-download-alt:before {
  content: "\6c";
}
.daicon-upload-alt:before {
  content: "\6d";
}
.daicon-print:before {
  content: "\6f";
}
.daicon-zip:before {
  content: "\70";
}
.daicon-folder:before {
  content: "\65";
}
.daicon-folder-open:before {
  content: "\6e";
}